In [1]:
from seleniumextractor import SeleniumExtractor
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support import expected_conditions as EC
from decimal import *
from selenium_error import *
from configReader_MB import configReader_MB
import random
import logging
import logging.config
import sys
import pandas as pd
import time

In [2]:

def _get_config(property):
    return(configReader_MB.get_setting(property))
    return(configReader_MB.get_setting(property))

marketinout_loginurl = _get_config("login_link")
marketinout_username = _get_config("username")

In [3]:

def _run_screener(sel,url,path):
    selextractor.driver.get(url)
    sel.get_elem_by_id("runScreenButton").click()
    data1 = sel.get_elem_by_xpath(path).text.split(" ")
    return(data1[0])

def _run_screener_crypto(sel,url,path):
    selextractor.driver.get(url)
    sel.get_elem_by_id("runScreenButton").click()

    #data1 = sel.get_elem_by_xpath(path).text.split(" ")

    data1 = sel.get_elem_by_id("results")
    print("data1",data1)
    nr = {"number_of_matches":0}
    for row in data1.find_elements_by_css_selector('tr'):
        if row == data1.find_elements_by_css_selector('tr')[-1]:
            # this is the last element of the loop
            for cell in row.find_elements_by_tag_name('td')[:1]:

                nr1 = cell.text.split(" ")[0]
            #print("nr1 is",row)
                for k in nr.keys():
                    nr['number_of_matches'] = nr1
    print("nr dict",nr)
    return(nr['number_of_matches'])

def _run_screener_crypto_hist(sel,url,path):

    left_button_xpath = "/html/body/table[2]/tbody/tr/td[2]/table[3]/tbody/tr/td/table[1]/tbody/tr[1]/td/div/table/tbody/tr/td[3]/table/tbody/tr[2]/td[1]/a"
    date_xpath = "/html/body/table[2]/tbody/tr/td[2]/table[3]/tbody/tr/td/table[1]/tbody/tr[1]/td/div/table/tbody/tr/td[3]/table/tbody/tr[2]/td[2]"
    sel.get_elem_by_xpath(left_button_xpath).click()
    #sel.get_elem_by_id("runScreenButton").click()

    date_str = sel.get_elem_by_xpath(date_xpath).text.split(" ")[1]

    data1 = sel.get_elem_by_id("results")
    print("data1",data1)
    nr = {"number_of_matches":0,"date":""}
    for row in data1.find_elements_by_css_selector('tr'):
        if row == data1.find_elements_by_css_selector('tr')[-1]:
            # this is the last element of the loop
            for cell in row.find_elements_by_tag_name('td')[:1]:

                nr1 = cell.text.split(" ")[0]
            #print("nr1 is",row)
                for k in nr.keys():
                    nr['number_of_matches'] = nr1
    #print("nr dict",nr)
    nr['date']=date_str
    return(nr)

In [4]:
def _save_csv(file_name,datalist):
    date_list=[]
    count_list=[]
    for i in range(len(datalist)):
        print("record",datalist[i])
        #df.append(pd.DataFrame(datalist[i], index=[0]), ignore_index=True)

        date_list.append(datalist[i]['date'])
        count_list.append(datalist[i]['number_of_matches'])
    date_ser = pd.Series(date_list)
    count_ser = pd.Series(count_list)
    df = pd.DataFrame()
    df['date'] = date_ser
    df['count'] = count_ser
    print(df)

    df.to_csv(file_name,index=False)

In [5]:
marketinout_loginurl = _get_config("login_link")
marketinout_username = _get_config("username")
selextractor = SeleniumExtractor(marketinout_loginurl)
elem = selextractor.get_elem_by_id("l")
elem.send_keys(marketinout_username)
elem = selextractor.get_elems_by_class("button")[0].click()

In [6]:
_match_xpath = _get_config("match_xpath")
_20sma_url = _get_config("20sma_nse")
_20sma_below_url = _get_config("20sma_below_nse")
_50sma_url = _get_config("50sma_nse")
_50sma_below_url = _get_config("50sma_below_nse")
_20percent_up_url = _get_config("20percent_up_nse")
_20percent_down_url = _get_config("20percent_down_nse")
_4_5percent_up_url = _get_config("4.5percent_up_nse")
_4_5percent_down_url = _get_config("4.5percent_down_nse")

_4_5percent_up_count = _run_screener_crypto(selextractor,_4_5percent_up_url,_match_xpath)
_4_5percent_down_count = _run_screener_crypto(selextractor,_4_5percent_down_url,_match_xpath)
_20percent_up_count = _run_screener_crypto(selextractor,_20percent_up_url,_match_xpath)
_20percent_down_count = _run_screener_crypto(selextractor,_20percent_down_url,_match_xpath)
_20sma_up_count = _run_screener_crypto(selextractor,_20sma_url,_match_xpath)
_20sma_below_count = _run_screener_crypto(selextractor,_20sma_below_url,_match_xpath)
_50sma_up_count = _run_screener_crypto(selextractor,_50sma_url,_match_xpath)
_50sma_below_count = _run_screener_crypto(selextractor,_50sma_below_url,_match_xpath)
        #print(_20sma_up_count,_20sma_below_count,_50sma_up_count,_50sma_below_count,_20percent_up_count,_20percent_down_count,_4_5percent_up_count,_4_5percent_down_count)

data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="1B808FC0AEA830B5EEB0077657C79896_element_39")>
nr dict {'number_of_matches': '89'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="C70F3E8CD4C3511A352DD087A1C3F8FC_element_97")>
nr dict {'number_of_matches': '61'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="F71CDC561DB07FC150C7E2C08E4DEBCF_element_151")>
nr dict {'number_of_matches': '19'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="E2124FBD26411BDEB967EF0F0E80D864_element_198")>
nr dict {'number_of_matches': '17'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="FDE0FDA940B8955B43F78C003F39C35E_element_248")>
nr dict {'number_of_matches': '986'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="29A78965749E8257819EBC8BDDCDAD56_element_299")>
nr dict {'number_of_matches': '920'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="8043F2AC0546D193157F71DDC48FFC5C_element_355")>
nr dict {'number_of_matches': '1360'}
data1 <selenium.webdriver.remote.webelement.WebElement (session="639d4b8431275158048b8143e7853e53", element="2F50E83DE7109B0963558EC5F24C82F0_element_407")>
nr dict {'number_of_matches': '534'}

In [7]:
print(_4_5percent_up_count,_4_5percent_down_count,_20percent_up_count,_20percent_down_count,_20sma_up_count,_20sma_below_count,_50sma_up_count,_50sma_below_count)

89 61 19 17 986 920 1360 534

In [8]:
breadth_local_path = "C://Users//Sonam//OneDrive//Documents//MarketBreadth_NSEV2.xls"
df = pd.read_excel(breadth_local_path, index_col=0,
              dtype={'A': int, 'B': int, 'C': int, 'D': int, 'E': int, 'F': int,'G': int,'H':int})

In [9]:
df

,Stocks up 4.5 % in last session,Stocks down 4.5% in last session,Stocks up 20% in last 5 days,Stocks down 20% in last 5 days,Stocks up 20 DMA(Leading),Stocks Below 20 DMA(LeADING),Stocks up 50 DMA,Stocks Below 50 DMA
25/05/2023,95,78,24,17,989,919,1364,533
24/05/2023,109,77,22,16,1032,875,1373,524
23/05/2023,99,98,22,17,1027,880,1376,522
22/05/2023,79,70,18,15,1026,881,1392,505
18/05/2023,90,58,22,13,1116,791,1428,469
18/05/2023,102,51,21,13,1172,734,1443,454
17/05/2023,55,48,20,13,1153,752,1443,453
17/05/2023,95,50,23,15,1211,695,1485,412
15/05/2023,109,71,25,16,1240,663,1474,420
15/05/2023,104,57,24,9,1248,654,1482,411
12/05/2023,114,49,23,8,1311,591,1483,411
11/05/2023,96,49,21,8,1283,620,1476,418
10/05/2023,89,71,17,9,1302,601,1473,421
08/05/2023,111,55,20,8,1385,519,1483,410
06/05/2023,65,73,25,6,1389,515,1458,435
05/05/2023,120,45,26,6,1523,387,1508,390
03/05/2023,106,61,24,4,1498,411,1441,457
03/05/2023,115,68,29,6,1539,370,1432,466
28/04/2023,114,58,27,13,1532,375,1277,619
27/04/2023,112,52,31,12,1491,418,1228,669
26/04/2023,91,69,28,12,1485,423,1179,718

In [10]:
# prepare the returned data into a new row for dataframe
columns = df.columns
columns_list = list(columns)
data = {'row':[int(_4_5percent_up_count),int(_4_5percent_down_count),int(_20percent_up_count),int(_20percent_down_count),int(_20sma_up_count),int(_20sma_below_count),int(_50sma_up_count),int(_50sma_below_count)]}
new_row = pd.DataFrame.from_dict(data,orient='index')
new_row.set_axis(columns_list,axis=1,inplace=True)

In [11]:
#change the index to current date for the new row
from datetime import datetime
curr_date = datetime.today().strftime('%d/%m/%Y')
as_list = new_row.index.tolist()
idx = as_list.index('row')
as_list[idx] = curr_date
new_row.index = as_list

In [12]:
#append the new row and save back to excel

In [13]:
final_df = pd.concat([new_row,df])

In [14]:
final_df.to_excel("C://Users//Sonam//OneDrive//Documents//MarketBreadth_NSEV2.xls")